<ion-content padding text-center>
  <h1 class="eina">Join Apothem</h1>
  <hr class="divider">
  <img class="icon" src="./../../assets/img/galaxy.png">

  <div class="buttons">
      <ion-button expand="block" color="none" class="btn1 eina" (click)="showModal()">Create account</ion-button>
      <ion-button expand="block" color="none" class="btn2 eina" (click)="signIn()">Sign In</ion-button>
  </div>

  <ion-button fill="clear" style="margin-top: 2rem;">About Apothem</ion-button>

</ion-content>
