.btn1 {
    background: #657fac;
    height: 3rem;
}

.btn2 {
    margin-top: 1rem;
    background: #eb7c5a;
    height: 3rem;
}

.icon {
    margin-top: 2rem;
    animation: spin 25s linear infinite;
}

.divider {
    border: none;
    background: #f3f3f3;
    padding: 1px;
}

.buttons {
    margin-top: 6rem;
}

@keyframes spin { 100% { transform: rotate(360deg); } }
