<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header no-border style="border-bottom: 1px solid #e0e0e0;">
        <ion-toolbar>
          <ion-title><span class="app-title">Apothem</span> 
            <ion-badge color="primary">Beta</ion-badge>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-item text-center>
          <ion-label>
            <ion-icon name="contact"></ion-icon>
            {{user.name}} ({{user.username}})
          </ion-label>
        </ion-item>

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                <span class="eina">{{p.title}}</span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item (click)="logout()">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>
                <span class="eina">Log Out</span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>