<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="topic"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="loaded">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-spinner *ngIf="!loaded"></ion-spinner>

  <div *ngIf="loaded" text-center>
    <h1 text-center>{{user.username}}</h1>

    <hr class="divider">

    <ion-list-header>{{user.username}} is subscribed on:</ion-list-header>

    <ion-card *ngFor="let topic of user.topics">
      <ion-card-header>
        <ion-card-subtitle>Topic</ion-card-subtitle>
        <ion-card-title>{{ topic }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>