@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.app-title {
    color: #ce353a;
    font-family: "eina";
}

.eina {
    font-family: "eina", var(--ion-font-family,inherit);
}

.divider {
    border: none;
    background: #f3f3f3;
    padding: 1px;
}

@font-face {
    font-family: "eina";
    src: url("/../assets/fonts/Eina.woff2") format("woff2");
}