<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Apothem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="authorized" class="has-tabs-bottom">

  <ion-list text-center>
    <ion-list-header>
      <ion-label class="eina bold">Topics according to your choice <ion-badge color="primary">{{user.topics.length}}</ion-badge></ion-label>
    </ion-list-header>
    <div class="no-topics" *ngIf="user.topics.length == 0">
      <h4>Looks like you haven't configured preferable topics yet</h4>
      <ion-button shape="round" fill="clear" (click)="editTopics()">Configure your topics</ion-button>
    </div>

    <div class="topics" *ngIf="user.topics.length != 0">
      <ion-card *ngFor="let topic of user.topics">
          <ion-card-header>
            <ion-card-subtitle>Topic</ion-card-subtitle>
            <ion-card-title>{{ topic }}</ion-card-title>
          </ion-card-header>
      
          <ion-button fill="clear">Explore</ion-button>
          <ion-button color="danger" fill="clear" (click)="unsubscribe(topic)">Unsubscribe</ion-button>
        </ion-card>
        <ion-button shape="round" fill="clear" (click)="editTopics()">Configure your topics</ion-button>
      </div>
  </ion-list>

  <hr class="divider">

  <div *ngIf="user.topics.length == 0">
      <div text-center>
          <h1>Explore basic topics</h1>
      
          <ion-button fill="clear">Global topic search</ion-button>
        </div>
      
        <ion-card *ngFor="let card of cards">
          <ion-card-header>
            <ion-card-subtitle>Topic</ion-card-subtitle>
            <ion-card-title>{{ card.name }}</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            {{ card.content }}
          </ion-card-content>
      
          <ion-button fill="clear">Explore</ion-button>
          <ion-button color="tertiary" fill="clear" (click)="subscribe(card.name)">Subscribe</ion-button>
        </ion-card>
  </div>

  <h2>{{message}}</h2>


</ion-content>