<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="authorized">
  <ion-list>
    <ion-list-header>
      <ion-label class="eina bold">Topics according to your choice</ion-label>
    </ion-list-header>
    <ion-item class="eina">Maths</ion-item>
    <ion-item class="eina">Physics</ion-item>
    <ion-item class="eina">Languages</ion-item>
    <ion-item class="eina">Social science</ion-item>
  </ion-list>

  <ion-button expand="block" (click)="sendRequest()">Send request</ion-button>
  <ion-button expand="block" color="tertiary" (click)="getID()">generate user Id</ion-button>
  <ion-button expand="block" color="danger" (click)="logout()">Logout</ion-button>

  <h2>{{message}}</h2>
</ion-content>